<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link rel="stylesheet" href="../static/project.css">
  <link rel="stylesheet" href="loginform.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <script src="project.js"></script>
</head>

<body id="pgbody" data-spy="scroll" data-target=".navbar" data-offset="50">
  <nav class="navbar navbar-default " style="color:white">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>

      </button>
       <a class="navbar-brand" rel="home" href="#" title="Stocks">
       <img style="width: 40%; margin-top: -30px;"
            src="../static/logo.png">
     </a> 
    </div>
    <div class="collapse navbar-collapse shift" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
            <a type="submit" class="btn" id="signupBtn" value="LOGIN" href="/login" style="background:#f44336; margin-right: 10px; border-radius: 5px ; box-shadow: 0 3px 6px rgba(0,0,0,0.02), 0 3px 6px rgba(0,0,0,0.23); color:#FFF;">LOGIN </a>
       </ul>
     </div>
   </div>
 </nav>

 


<div class="aboutus container text-center" id="aboutus">
 <div class="row">
    <div class="col-sm-6">
        <h class="abouthead " >About Futures</h>
        <hr>
        <div class="aboutcontent">
        <p>
        	Our product aims to use Artifical Intelligence to forcast the stock prices based on historical data pertaining to the stock. Our product can deliver considerably accurate results can help you make better trading decisions and increase the capital gain. This product is tailor made for Indian Markets with a fine understanding between cyclic stocks and secular stocks.
        </p>
        </div>
    </div>
    <div class="col-sm-6">
        <img src="../static/1.png" style="width:50%; border-radius: 30%; margin-top:40px">
    </div>
 </div>  

 <div class="row" style="margin-top:30px">
        
        <div class="col-sm-6">
            <img src="../static/vision.png" style="width:50%; border-radius: 30%; margin-top:40px">
        </div>
        <div class="col-sm-6">
                <h class="abouthead " >Our Vission</h>
                <hr>
                <div class="aboutcontent">
                <p>We were motivated to deliver a product that can reduce the uncertainty involved in stock trading and to promote the stock trading as an investment option among Indian population. With Real Estate and Gold getting saturated gradually, Stocks are the next big investment option that should be given importance to.</p>
                </div>
            </div>
     </div>  
  


</div>

<div id="ourteam" class="container text-center">
 <h2 class="othead">Our Team</h2>
 <hr>
 <div class="row text-center">
   <div class="col-sm-3">
     <div class="thumbnail" style="border-radius: 5%">
       <img src="../static/21.jpg" style="width:59%;">
       <p class="name"><strong>Sathya Swaruban</strong></p>
       
        <div class="row">
           <div class="col-xs-4">
            <a href="https://www.facebook.com/sathya.swaruban" target="_blank" class="fa fa-facebook fa-lg"></a>
           </div>
           <div class="col-xs-4">
            <a href="https://twitter.com/SathyaSwaruban"  target="_blank" class="fa fa-twitter fa-lg"></a>
           </div>
           <div class="col-xs-4">
            <a href="" target="_blank" class="fa fa-instagram fa-lg"></a>
           </div>
        </div>
   
 </div>
 </div>
   <div class="col-sm-3" >
     <div class="thumbnail" style="border-radius: 5%">
       <img src="../static/22.jpg" style="width:58.5%;">
       <p class="name"><strong>Kogul Karna</strong></p>
       <div class="row">
        <div class="col-xs-4">
            <a href="https://www.facebook.com/sathya.swaruban" target="_blank" class="fa fa-facebook fa-lg"></a>
           </div>
           <div class="col-xs-4">
            <a href="https://twitter.com/SathyaSwaruban"  target="_blank" class="fa fa-twitter fa-lg"></a>
           </div>
           <div class="col-xs-4">
            <a href="" target="_blank" class="fa fa-instagram fa-lg"></a>
           </div>
     </div>
     </div>
   </div>
   <div class="col-sm-3">
    <div class="thumbnail" style="border-radius: 5%">
      <img src="../static/23a.jpg" style="width:55.5%;">
      <p class="name"><strong>Sai Kaushik</strong></p>
      <div class="row">
        <div class="col-xs-4">
            <a href="https://www.facebook.com/sathya.swaruban" target="_blank" class="fa fa-facebook fa-lg"></a>
           </div>
           <div class="col-xs-4">
            <a href="https://twitter.com/SathyaSwaruban"  target="_blank" class="fa fa-twitter fa-lg"></a>
           </div>
           <div class="col-xs-4">
            <a href="" target="_blank" class="fa fa-instagram fa-lg"></a>
           </div>
     </div>
  </div>
</div>

  
   <div class="col-sm-3">
     <div class="thumbnail" style="border-radius: 5%">
       <img src="../static/24.PNG" style="width:59%;">
       <p class="name"><strong>Abinanth</strong></p>
       <div class="row">
        <div class="col-xs-4">
            <a href="https://www.facebook.com/sathya.swaruban" target="_blank" class="fa fa-facebook fa-lg"></a>
           </div>
           <div class="col-xs-4">
            <a href="https://twitter.com/SathyaSwaruban"  target="_blank" class="fa fa-twitter fa-lg"></a>
           </div>
           <div class="col-xs-4">
            <a href="" target="_blank" class="fa fa-instagram fa-lg"></a>
           </div>
     </div>
   </div>
  </div>

   </div>
   
 </div>
 </div>





</body>
</html>