<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/style.css">
    <title>Prediction</title>
</head>
<body>
		<nav class="navbar navbar-default " style="color:white; background : rgba(0,0,0,0); border:0px solid ; padding :10px;">
				<div class="container-fluid">
				  <div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					  <span class="icon-bar"></span>
					  <span class="icon-bar"></span>
			  
					</button>
					 <a class="navbar-brand" rel="home" href="#" title="Stocks">
					 <img style="width: 40%; margin-top: -30px;"
						  src="../static/logo.png">
				   </a> 
				  </div>
				  
				 </div>
			   </nav>
	<div class="container main text-center">
		<div class="row" style="margin-top:3%; margin-bottom:3%">
			
			<div>
				<img src="{{url_for('static',filename=plot)}}" style="width:80%;border-radius:20px;margin-left:-28px">
			</div>
			<div>
					<h2>{{res}} </h2>
					<hr>
					<p>If the company's performance is ideal, on long run, the result can be {{longRes}}. </p>
					{% if res == 'profit' %}
					<p><b> “The easiest way to manage your money is to take it one step at a time and not worry about being perfect.” – Ramit Sethi</b></p>
					{% endif %}
					{% if res == 'loss' %}
					<p><b> “In many ways, the stock market is like the weather in that if you don’t like the current conditions all you have to do is wait a while.” – Low Simpson</b></p>
					{% endif %}
					
				</div>
		</div>
	</div>
</body>
</html>