.main{
    margin-top:3%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 10px;
    
}
#username, #password, #loginBtn, #signupBtn, #name, #age, #phone, #stock{
    margin-bottom: 10px;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#loginBtn{
    background-image: linear-gradient(to right, #c31432 , #240b36);
    color: white;
}
#signupBtn{
    background-image: linear-gradient(to LEFT, #c31432 , #c31432);
    color: white;
    
}
.header{
    margin-bottom: 20px;
    margin-top: 50px;
}

#logoutBtn{
    background: #f44336;
    color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.02), 0 3px 6px rgba(0,0,0,0.23); 
}
hr {
    width: 20%;
    border: 1px solid #f44336;
    box-shadow: 0 10px 10px -10px #8c8c8c inset;
  }